#Simple feed forward network config

[Network]
[Layers]784,30,10

[LearningAlgorithm]
LearningAlgorithm=StochasticGradientDescent
CostFunction=CrossEntropy
LearningRate=1.0
Momentum=0.5
EarlyStopping=true
RequiredAccuracy=0.95
MaxNumEpochs=30

[Dqta]
TrainingData
TestData

	 
	 * trainingData (how it is split)
	 * validationData (optional)
	 * testData (optional)